
.column1{
    width:100%;
    border: 1px solid red;
    margin: 10px;
    padding: 5px;
  }
  
  @media (min-width: 48em) {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
    }
  }
 